html, body {
    height: 100%;
}

.wrapper, .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

    .wrapper:before, .wrapper:after,
    .column:before, .column:after {
        content: "";
        display: block;
    }

    .wrapper:after,
    .column:after {
        clear: both;
    }

#my-header {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    height: auto;
    border: none;
    font: normal 16px/1 Tahoma, Geneva, sans-serif;
    color: rgba(255,255,255,1);
    /*text-align: left;*/
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient(90deg, rgba(18,129,6,1) 0, rgba(49,71,47,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(18,129,6,1) 0, rgba(49,71,47,1) 100%);
    background: linear-gradient(0deg, rgba(18,129,6,1) 0, rgba(49,71,47,1) 100%);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    text-shadow: 0 0 12px rgba(255,255,0, 0.7);
}

/*   Nav bar image button    */



.NavHeaderText{
    display: inline-block;  
}

#targetBtn {
    -webkit-transition: opacity 0.5s ease-in-out; opacity 0s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out; opacity 0s ease-in-out; opacity 0s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out; opacity 0s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    vertical-align: middle;
    float:right;
}

.targetBtn:hover {
  opacity:0.85;
  transform: scale(1.1);
}

#bigBtn {   
    height: 60px;
    margin:0 auto;
    display: inline-block;
    vertical-align: middle;
}



/*          ----------------              */

#sidebar {
    padding-left: 0;
    color: #152485;
    float: left;
    min-height: 100%;
}

    #sidebar .collapse.in {
        display: inline;
    }

    #sidebar > .nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        white-space: nowrap;
        overflow: hidden;
        color: #FFFFFF;
        margin: 5px;
        background-color: rgba(18,129,6,1);
        /*font-size: 1.2em;*/
    }

        #sidebar > .nav > li > a:hover {
            background: #668075;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            text-decoration: none;
            color: #521485;
            box-shadow: 0 -10px -10px -10px rgba(0, 0, 0, 0.5);
            color: #adbaa4;
        }

        #sidebar > .nav > li > a:focus {
            background: #668075;
            background-image: -webkit-linear-gradient(top, #668075, #3d5e50);
            background-image: -moz-linear-gradient(top, #668075, #3d5e50);
            background-image: -ms-linear-gradient(top, #668075, #3d5e50);
            background-image: -o-linear-gradient(top, #668075, #3d5e50);
            background-image: linear-gradient(to bottom, #668075, #3d5e50);
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            text-decoration: none;
            color: #2f332e;
            box-shadow: 10 10px 5px 5px rgba(0, 0, 0, 0.5);
        }

/*To enable smooth transistion between the school table 
    and graph we need to set these properties*/
#schoolTable {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto;
}

#feederGraph {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto;
}

#returnToTable {
    position: relative;
    top: 5px;
    left: 15px;
}



/*   Next    */

/*          ----------------              */


/* tab color */
.nav-pills > li > a {
    background-color: #bfb6b6;
    border-color: #777777;
    color: #192c16;
}

/* active tab color */
.nav-pills > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    background-color: rgba(49,71,47,1);
    border: 1px solid #888888;
}

/* hover tab color */
.nav-pills > li > a:hover {
    border-color: #000000;
    background-color: rgba(131, 131, 13, 0.70);
}
