@model AreaAnalyserVer3.ViewModels.Analysis

<h3 id="schoolName"></h3>

@*<button id="btn" onclick="transition(false)">Return to table</button>*@
<div id="barchart" style="Height: 100%;">   
    <button id ="returnToTable" onclick="transition(false)"><i class="fa fa-list"></i> Back to table</button>
    <div id="bar" style="Height: 600px; background-color:#cbbfbf" ></div>
</div>
<div id="piechart">
    <div id="graph" style="Height: 200px; background-color:#365132" ></div>
</div>

