@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>The 'Arealyser' provides you with a range of useful information to research and analyse any local area in Dublin.  </p>

<p>
    Simply select your area of choice and you will be presented with a world of information. The 'Arealyser' provides statistics on property prices, crime, education, local businesses and other areas of interest.
    Using data from the Central Statistics Office, Dept. of Education, the Property Services Regulatory and the Irish Times we aim to provide accurate and up to date information.
</p>

<p>
    The 'Arealyser' is a one man operation and will appreciate any user feedback, positive or negative, in order to enhance the application.
</p>

<p>
    I hope you enjoy the application and thank you for your interest!
</p>
